*{
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}

#greets {
    float:left;
    color:#ecf0f1;
    font-size:55px;
    margin-top:20px;
    margin-left:50px;
}

#navbar{
    height:100px;
    width:100%;
    border-bottom:10px solid #63949d;
    background-color:#204b53;
}

#navbar ul {
    list-style:none;
}
  
#navbar ul li a{
    text-decoration:none;
    float:left;
    padding:20px 2px;
    text-align:center;
    color:#ecf0f1;
    margin-right:70px;
    margin-top:15px;
    font-size:25px;
}
  
#navbar ul li a:hover {
    color:#add3ae;
    text-shadow:0px 2px 1px #204b53; 
}

#navbar ul li {
    float:left;
}

#navbar ul {
    float: right;
  }
  

.list-project{
    padding: 20px 45px;
    border-radius: 6px;
    border: 1px solid #204b53;
    background-color: #edf0f2;
    margin: 10px auto 0;
    width: auto;
}