/* General style for all elements */

*{
    margin:auto;
    font-family: 'Helvetica', sans-serif;
}

#greets {
    float:left;
    color:#ecf0f1;
    font-size:50px;
    margin-top:20px;
    margin-left:50px;
}

/* NAVBAR */

#navbar{
    height:100px;
    width:100%;
    border-bottom:10px solid #63949d;
    background-color:#204b53;
}

#navbar ul {
    list-style:none;
}

#navbar ul li {
    float:left;
}

#navbar ul {
    float: right;
}
  
#navbar ul li a{
    text-decoration:none;
    float:left;
    padding:20px 2px;
    text-align:center;
    color:#dfdfdf;
    margin-right:70px;
    margin-top:15px;
    font-size:25px;
}
  
#navbar ul li a:hover {
    color: #fff;;
    text-shadow:0px 2px 1px #204b53; 
}

#navbar ul li a.active {
    text-decoration: underline;
    color: #fafac4;
}

/* HOME */

.list-project{
    padding: 20px 45px;
    border-radius: 6px;
    border: 1px solid #204b53;
    background-color: #f7f7f7;
    margin: 10px auto 0;
    width: auto;
}


#title {
    padding-bottom: 10px;
    font-size: 30px;
    color: #204b53;
    font-style: italic;
}

.page .project{
    text-align: center;
    width: 50%;
    padding-left: 0%;
    font-weight: bold;
    padding-bottom: 1%;
}

/* NEW PROJECT */

#project-type label{
    margin-right: 20%;
    color: #5a5a5a;
}

.page div{
    width: 50%;
    position: inherit;
    height: 70%;
    padding-top: 2%;
    padding-left: 20%;
    font-size: 18px;
    color: #5a5a5a;
}

#project-type p, #project-title p, #project-files p {
    font-weight: bold;
    font-size: 20px;
    color: #204b53;
    padding-bottom: 3%;
}

#project-title input {
    padding: 1% 1%;
    font-size: 15px;
    width: 55%;
}

#confirm-project button{
    font-size: 18px;
    width: 58%;
    color: white;
    background-color: #204b53;
    border:none;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

#confirm-project :hover{
    background-color: #63949d;
    border: none;
}
